@font-face {
	font-family: poppins;
	src: url(fonts/poppins/poppins.ttf);
}

body{
    background-color: #93A8A2;
    font-family: poppins;
}

.container{
    box-shadow: 5px 5px 10px rgb(110, 110, 110);
    width: 370px;
    margin: 15px auto 0 auto;
    border-radius: 15px;
    background-color: #262D37;
    padding-bottom: 15px;
    transition-duration: 500ms
}

.display-container{
    text-align: right;
    width: 90%;
    margin: auto;
}

#display-1{
    padding-top: 90px;
    height: 40px;
    border-bottom: 1px solid rgb(110, 110, 110);
    font-size: 30px;
    color: white;
    font-weight: bold;
    
}
#display-2{
    color: rgb(110, 110, 110);
    padding-top: 10px;
    height: 40px;
}

.buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 30px 0; 
    
}
button{
    width: 69px;
    height: 69px;
    margin: 8px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 3px 3px 8px rgb(18, 18, 18);
    font-family: poppins;
}

#button-0{
    width: 160px;
}
#equal{
    background-color: #EF864B;
}
.green{
    background-color: #367B8A;
}
.green2{
    background-color: #262D37;
}

/* FOOTER */

footer{
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    background-color: #262D37;
}
i{
    font-size: 30px;
}
a{
    color: white;
}

/* BUTTON WHITE/DARK MODE */
#mode{
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    display:  block;
    width: 125px;
    margin: auto;
    transition: 500ms;
}
#mode:hover{
    background-color: #262D37;
    color: white;
}
.white{
    background-color: white;
    
}
